textarea {
	max-width: 100%;
	min-width: 100%;
}

ul {
	list-style: none outside none;
	padding-left: 0;
}

ul li {
	background-color: #e6e6e6;
	border-radius: 4px;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 6px;
	padding: 8px 20px;
}

#librarySuggestions li {
	cursor: pointer;	
}

#librarySuggestions li:hover {
	background-color: #f5f5f5;
}

.hidden {
	display: none;
}

.hideable {
	cursor: pointer;
}

#console ol {
	font-family: courier;
}

#console ol .input {
	color: #b6b6b6;
}

#console ol .output {
	
}
