#console {
	.log,
	.error {
		overflow: hidden;
		text-overflow: ellipsis;

		&::before {
			content: ">> " attr(title);
			display: block;
			font-style: italic;
			color: gray;
		}
	}

  &.mini {
	position: relative;
	.pre-scrollable {
	  height: 100%;
	}
	.console-input {
	  width: 100%;
	}
  }
}