#console {
	.log,
	.error {
		overflow: hidden;
		text-overflow: ellipsis;

		&::before {
			content: ">> " attr(title);
			display: block;
			font-style: italic;
			color: gray;
		}
	}

	.pre-scrollable {
		height: 100%;
		margin-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: none;
	}

	.console-input {
		width: 100%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

#console-log {
	background-image: url('js-envy-25.png');
	background-repeat: no-repeat;
	background-position: center;
}